### Windows
# Windows thumbnail cache files
Thumbs.db

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows shortcuts
*.lnk

# Python
__pycache__/
*.py[cod]
*$py.class
*.ipynb_checkpoints/

# Airflow Logs
airflow/logs/

# ETL Raw Output
etl/output/

# Environment Variables
.env
.env.*